// variables
$imageBorderRadius: 10px; // border-radius

$btnBackgroundColorBasic: rgb(1, 180, 228); // background-color of buttons
$btnBackgroundColorBasicHover: rgb(3,37,65); // background-color of hover buttons
$btnBackgroundColorBasicDisabled: rgba(228,228,228,0.7); // background-color of hover buttons
